body{}
.main-div{}

.header{			background-color:#274f75; 
					width:100%; 
					height:140px;
					box-shadow: 1px 1px 20px 9px black;					}


img.logo {
    box-shadow: 0px 0px 0px 7px black;
    height: 59px;
    padding-right: 5px;
    margin: 36px -2px -6px 31px;
    width: 57px;
    background-color: #99cccf;
}

#feni {
    margin: 0;
    display: inline-block;
    font-size: 29px;
    color: #e1dede;
    position: absolute;
     top: 76px;
    left: 115px;
    box-shadow: 0px 1px 7px 3px black;
}
/* ----------------------input -----------------------------*/


form {
					display: inline-block;
					float: right;
					margin-top: 47px;
					margin-right: 6px;
}
input[type="text"] {color:#fff;
					height: 23px;
					background: #274f75;
					border: 3px solid #92979b;
}
input[type="submit"] {
					
					margin-left: -5px;
					height: 31px;
}
/* ----------------------input end-----------------------------*/


.update {   		overflow:hidden;
					margin-top: 15px;
					height: 50px;
					width: 100%;
					border: 2px solid #93979b;
}

.update-1 {
					float: left;
					width: 8%;
					color: #fff8f8;
					height: 49px;
					margin-top: 0px;
					height: 31px;
					padding: 16px 27px 2px 22px;
					background-color: #951b1e;
					display: inline-block;
}
							
.update-2 {
					width: 85%;
					display: inline-block;
					float: left;
					color: #000000;
					padding: 4px 9px;
					background-color: #fff;
}


/*------------------------header end------------------*/

/*------------------------dropdown menu------------------*/
.nav-section{}

#navigation {
    margin-top: 15px;
    background-color: #238261;
    height: 48px;
    width: 100%;
    padding-bottom: 1px;
    margin-bottom: 11px;
    border-bottom: 3px solid #363333;
}
					
#navigation li:hover {background-color: #227c00;    box-shadow: 0 0 9px 4px black;}					
#navigation li {  
					position:relative;
					float: left;
					text-align: center;
					margin-right: 46px;
					margin-top: 2px;
					width: 191px;
					padding: 11px 9px 4px 9px;
					height: 33px;
				}
#navigation li a{text-decoration:none; font-size:17px;color:#fff}


.dropdown		{	position:absolute;}

.dropdown li	{ 	left:10000000px}


.dropdown li:hover{ background-color: #274f75;}


.dropdown li a	{	text-decoration:underline}

#navigation li:hover .dropdown li{
						text-decoration:underline;
						background-color:green;
						left: -48px;
						top:17px
					
						 }

/*-------------------------dropdown end---------------------------*/	

h1 {
    font-size: 39px;
    font-family: arial;
    color: #659acc;
    border-bottom: 3px solid #866a6a;
    font-weight: 600;
    margin: -4px 63px;
    padding: 0px;
    background: #bababa;
    text-align: center;
    margin: auto;
    width: 94%;
    height: 53px;
    box-shadow: 1px 0px 8px 1px black;
    text-shadow: -2px 2px 2px #000000;
}

/*-------------------------------news portal stop------------------------------*/	

.img-1:hover{box-shadow: 0px 2px 11px 14px black;	}	
.img-2:hover{box-shadow: 0px 2px 11px 14px black;	}	
.img-1 {
    width: 45%;
    border: 3px solid #d0d0d0;
    height: 349px;
    padding: 5px;
    opacity: 1.5;
    margin-top: 8px;
    margin-right: 86px;
}
.img-2 {
    width: 45%;
    background-size: cover;
    height: 352px;
    border: 3px solid #d0d0d0;
    padding: 4px;
    margin-top: 8px;
}	

.post{				width:70%;
					text-align:justify;
					margin-left:0;}
					
.post-1 {
    text-shadow: 1px 1px 0px black;
    box-shadow: -1px 6px 9px 0px black;
    border-bottom: 2px solid #999191;
    color: #555555;
    font-size: 30px;
    width: 336px;
    margin-left: 0px;}

	
.post-2{			margin-left:10px;
					font-family:arial;
					font-size: 14px;
					color: #464646;
					}	
	
.post-3{			font-family:arial;
					font-size: 14px;
					color: #464646;
						margin-left:10px;}
					
.post-4{			font-family:arial;
					font-size: 14px;
					color: #464646;
						margin-left:10px;}
				
				
								
.slider {	
					width: 25%;
					float: right;
					top: -490px;
					position: relative;
}

p.slider-1 {		box-shadow: -1px 3px 3px 1px black;
					color: black;
					text-shadow: 1px 0px 1px black;
					font-size: 24px;
					border-bottom: 2px solid #a5a1a1;
					letter-spacing: 1px;
					width: 100%;
					text-align: center;
					margin-left: 0;
					padding-bottom: 5px;
					margin-bottom: 10px;
				
}
img.slider-pic1:hover{box-shadow: 0 0 8px 5px black;}
img.slider-pic2:hover{box-shadow: 0 0 8px 5px black;}
img.slider-pic1 {
					width: 205px;
					height: 147px;
					float: right;
					border: 2px solid #b3aeae;
					padding: 3px;
				}

img.slider-pic2 {
					width: 205px;
					height: 147px;
				    border: 2px solid #b3aeae;
				    padding: 3px;
				    float: right;
					}
					
/*---------------footer-------------*/
.main_footer{margin:0px 150px}
.footer {
    float: left;
    position: relative;
    margin-right: 48px;
    width: 144px;
    clear: right;
    bottom: 332px;
    margin-left: 0px;
}
ul.footer1 {
    margin-top: 8px;
    width: 109px;
}
li{margin-left:-23px}

h3 {
    color: #176b00de;
    font-size: 20px;
    box-shadow: 4px 2px 4px 1px black;
}




/*-------------------------footer-----------------------*/

.copyright {
    margin-top: 180px;
    text-align: center;
    background: #274f75;
    padding: 19px 0;
    color: #fff;
	position:relative;
	bottom:-300px;
}

.copyright a {
   margin-top: 20px;
}



			